main h2{
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0;
   
}

.grille-produit{
    margin: 0px;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    justify-content: center;
    gap: 1.5rem;
}

.produit{
    border-radius: 10px;
}

.produit:hover{
    transform: translateY(5px);
}

.produit img{
    height: 50%;
    width: 20rem;
    border-radius: 5px;
    object-fit: cover;
}

.produit h3{
    text-align: center;
    margin-bottom: 10px;
    font-size: 2rem;
}

.produit .description{
    margin: 0 5%;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.produit .prix{
    text-align: center;
    font-size: 3rem;
    color:rgb(212, 175, 55);
}

.produit .commander{
    background-color: black;
    padding: 10px;
}

.produit a{
    margin-left: 38%;
}

.produit p a button{
    background-color:rgb(212, 175, 55) ;
    padding: 5px;
    border-radius: 10px;
}



@media screen and (max-width:1280px) {
    .grille-produit{
        grid-template-columns: repeat(3,1fr);
    }

}

@media screen and (max-width:1024px) {
    .produit h3{
        font-size: 1.8rem;
    }
    
    .produit .description{
        font-size: 1.2rem;
    }

    .produit .prix{
        font-size: 2rem;
    }
}
@media screen and (max-width:912px) {
    .grille-produit{
        grid-template-columns: repeat(2,1fr);
    }

    .produit img{
        width: 100%;
    }

    .produit h3{
        font-size: 2.2rem;
    }
    
    .produit .description{
        font-size: 1.5rem;
    }

    .produit .prix{
        font-size: 2.5rem;
    }
}

@media screen and (max-width:550px){
    .produit h3{
        font-size: 1.5rem;
    }
    
    .produit .description{
        font-size: 1rem;
    }

    .produit .prix{
        font-size: 2rem;
    }
}

@media screen and (max-width:412px){
    .grille-produit{
        grid-template-columns: 1fr;
    }
    .produit img{
        margin-top: 2rem;
    }
}